.impact-section {
  position: absolute;              /* 👈 necessario per top + left */
  top: 90%;
  left: 50%;                       /* 👈 centra orizzontalmente */
  transform: translateX(-50%);     /* 👈 centra esattamente al centro */
  
  margin-top: 60px;
  color: white;
  border-radius: 10px;
  min-width: 280px;
  box-shadow: 0 0 10px #000;
  text-align: center;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
}

.impact-title {
  font-size: 1.05rem;
  margin-bottom: 15px;
  color: #e94560;
  text-transform: uppercase;
}

.impact-line {
  font-size: 0.92rem;
  color: #ddd;
  line-height: 1;
}

.impact-line + .impact-line {
  margin-top: 12px; /* 👈 piccolo spazio tra le due righe */
}

#description {
  font-size: 1rem;
  line-height: 1.4;
  height: 4.2em; /* 3 righe */
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade.show {
  opacity: 1;
}

@media (max-width: 767px) {
  .logo {
    width: 60px;         /* più piccolo */
    top: 12px;
    left: 12px;
  }
}

@media (max-width: 767px) {
  .content {
    top: 42%; /* invece di 50% */
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }

  #description {
    font-size: 0.95rem;
  }
}